{% extends "main/base.html" %}
{% load static %}
{%block content%}
<link rel="stylesheet"  href="{% static 'd.css' %}">
<div class="font_wrap">
<div class="container">
    <h1 style="margin-bottom: 100px;">{{name}} is part of:</h1>
 <div class="row">
   {%for movie in movies%}
  
   <div class="card-group mt-4 mb-4" style="width: 180px;">
   <div class="card shadow-lg " style="border-radius: 10px;">
   <img src = https://image.tmdb.org/t/p/w1280{{movie.poster_path}} class="card-img-top" style = "border-radius: 10px 10px 0 0;height: 200px;"> </img>
    <div class="card-body" style="text-align: center;padding: 10px;">
    <p style="margin: 0 auto;">{{movie.title}}</p>
    </div>
    <a href="{% url 'main:movie_info' movie.id %}" class="stretched-link "></a>
 </div>
</div>

{%endfor%} 
 </div>
  <p style="display: inline-block"></p>
</div>
</div>
{%endblock%}